@font-face {
    font-family: 'SegoeUI';
    src:url("C:/Users/User/Downloads/Repository/Segoe-UI-Font/SEGOEUI.TTF");
  }
  


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    /* font-family: 'MyWebFont',Segoe-UI,sans-serif;*/
    font-family:   'SegoeUI';
    font-size: 1.1rem;
    transition: 5s ease-in-out;
    }

main {
    display: flex;
}

.product-sec {
    height: 100vh;
    width: 100%;
    padding: 5%;
    background-color: #F2F2F2;
    display: block;
    position: sticky;
    top: 0;
}

.product-nav {
    position: sticky;
    top: 60px;
    display: grid;
    gap: 22px;
    margin-top: 25%;
    transition: linear ease-in-out 0.5s;
    a {
        text-decoration: none;
        color: #000;
    }
}

.searchBar input {
    background-image: url("Group 16.png");
    background-repeat: no-repeat;
    outline: none;
    width: 415px;
    height: 43px;
    background-position: 6%;
    padding-left: 53px;
    border: 1px solid #000;
}

.dropdown-nav {
    display: flex;
    justify-content: space-between;
    p {
        color: #EC2D31;
    }
}

.dropdown-items {
    display: none;
}

.fa-caret-down {
    transform: rotate(0deg);
}

.rotate {
    transform: rotate(180deg);
}

.block {
    display: block !important;
    padding-top: 15px;
}

.dropdown-items p {
    padding-block: 5%;
}

// midsection
#mid-sec {
    width: 60%;
    padding-inline: 5%;
}

.reliance {
    padding-top: 8%;
}

.searchBar {
    padding-block: 3%;
    width: 50%;
}

.Webe-user {}

.r-g {
    display: grid;
    gap: 13px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.link-a {
    display: none;
}

.phone-nav {
    display: none;
}

.active {
    display: block !important;
    -webkit-animation: 1.2s ease-in-out;
    animation: 3s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        position: fixed;
        display: block;
        top: 0;
        background: #fff;
        width: 100%;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-17px) rotate(-45deg);
    }
    .product-nav {
        display: none;
        margin-top: 14%;
        top: 0;
    }
    .active {
        display: grid !important;
    }
    .link-a {
        display: block;
    }
    .link-b {
        display: none;
    }
    .phone-nav {
        display: block;
    }
    .p1 {
        display: none;
    }
    .product-sec {
        height: fit-content;
        background: #fff;
    }
    img {
        width: 300px;
    }
    .searchBar input {
        width: 354px;
    }
    .r-div {
        position: relative !important;
        z-index: -2;
    }
    .dropdown-nav {
        justify-content: center;
    }
 
}